flows/Active_Directory_Provisioning-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Provision_Active_Directory</name>
        <label>Provision Active Directory</label>
        <locationX>468</locationX>
        <locationY>148</locationY>
        <apexClass>EMSActiveDirectoryConnector</apexClass>
        <connector>
            <targetReference>Is_Manual_Provisioning_Needed</targetReference>
        </connector>
        <inputParameters>
            <name>ConnectedAppId</name>
            <value>
                <elementReference>UserProvisioningRequest.ConnectedAppId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>username</name>
            <value>
                <elementReference>User.Username</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>debugLogging</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>User.Ag2Ag_ID__c</assignToReference>
            <name>Ag2Ag ID</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Details</assignToReference>
            <name>Details</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalEmail</assignToReference>
            <name>ExternalEmail</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalFirstName</assignToReference>
            <name>ExternalFirstName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalLastName</assignToReference>
            <name>ExternalLastName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalUserId</assignToReference>
            <name>ExternalUserId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalUsername</assignToReference>
            <name>ExternalUsername</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>NeedsManualProvisioning</assignToReference>
            <name>NeedManual</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>UserID</assignToReference>
            <name>User ID</name>
        </outputParameters>
    </apexPluginCalls>
    <constants>
        <name>CaseRT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EMS Provisioning</stringValue>
        </value>
    </constants>
    <constants>
        <name>CustomerSupportQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EMSCustomer_Support</stringValue>
        </value>
    </constants>
    <constants>
        <name>ManualProvCaseSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Manual Provisioning is Needed for a user</stringValue>
        </value>
    </constants>
    <constants>
        <name>NewCaseStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </constants>
    <constants>
        <name>QueueType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>SobjectRTType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Manual_Provisioning_Needed</name>
        <label>Is Manual Provisioning Needed</label>
        <locationX>659</locationX>
        <locationY>145</locationY>
        <defaultConnector>
            <targetReference>Update_Users_Ag2Ag_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NeedsManualProvisioning</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cart_Details_for_Provisioning</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operation</name>
        <label>Operation</label>
        <locationX>71</locationX>
        <locationY>139</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_User</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <label>Update</label>
        </rules>
        <rules>
            <name>Collect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconcile</stringValue>
                </rightValue>
            </conditions>
            <label>Collect</label>
        </rules>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deactivate</stringValue>
                </rightValue>
            </conditions>
            <label>Delete</label>
        </rules>
    </decisions>
    <description>This version fixes the initial password reset.</description>
    <formulas>
        <name>fullName</name>
        <dataType>String</dataType>
        <expression>{!User.FirstName} + &apos; &apos; + {!User.LastName}</expression>
    </formulas>
    <formulas>
        <name>UserNameFormula</name>
        <dataType>String</dataType>
        <expression>{!User.FirstName} + {!User.LastName} + &apos;@testuserprov.org&apos;</expression>
    </formulas>
    <interviewLabel>Active Directory Provisioning {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Active Directory Provisioning</label>
    <processType>UserProvisioningFlow</processType>
    <recordCreates>
        <name>CreateProvisioningCase</name>
        <label>CreateProvisioningCase</label>
        <locationX>1029</locationX>
        <locationY>454</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>queueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ProvisioningRTType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Cart__c</field>
            <value>
                <elementReference>CartApp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_External_User__c</field>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ManualProvCaseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Cart_Details_for_Provisioning</name>
        <label>Get Cart Details for Provisioning</label>
        <locationX>845</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Record_Type_for_case</targetReference>
        </connector>
        <filters>
            <field>UPR_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </filters>
        <object>Cart_Application__c</object>
        <outputAssignments>
            <assignToReference>CartApp.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>This step finds out the provisioning queue of the dis-connected (ie manually provisioned) application</description>
        <name>Get_Provisoining_Queue</name>
        <label>Get Provisoining Queue</label>
        <locationX>1008</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCustomerSupportQueue</targetReference>
        </connector>
        <filters>
            <field>Connected_App_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserProvisioningRequest.ConnectedAppId</elementReference>
            </value>
        </filters>
        <object>Application__c</object>
        <outputAssignments>
            <assignToReference>CustomerSupportQueue</assignToReference>
            <field>Provisioning_Queue__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCustomerSupportQueue</name>
        <label>GetCustomerSupportQueue</label>
        <locationX>1019</locationX>
        <locationY>352</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateProvisioningCase</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerSupportQueueName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueType</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Record_Type_for_case</name>
        <label>Lookup Record Type for case</label>
        <locationX>1014</locationX>
        <locationY>137</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Provisoining_Queue</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRT</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SobjectRTType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ProvisioningRTType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_User</name>
        <label>Lookup User</label>
        <locationX>304</locationX>
        <locationY>143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Provision_Active_Directory</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserProvisioningRequest.SalesforceUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>User</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Alias</queriedFields>
        <queriedFields>CommunityNickname</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Username</queriedFields>
        <queriedFields>External_Fed_Id__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Users_Ag2Ag_ID</name>
        <label>Update Users Ag2Ag ID</label>
        <locationX>663</locationX>
        <locationY>279</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserProvisioningRequest.SalesforceUserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ag2Ag_ID__c</field>
            <value>
                <elementReference>ExternalUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Password__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <startElementReference>Operation</startElementReference>
    <variables>
        <name>CartApp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Cart_Application__c</objectType>
    </variables>
    <variables>
        <name>connectedAppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerSupportQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>CustomerSupportQueue</stringValue>
        </value>
    </variables>
    <variables>
        <name>Details</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalUsername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NeedsManualProvisioning</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>nextReconOffset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProvisioningRTType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>queueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>reconOffset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reconState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserProvAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>UserProvAccount</objectType>
    </variables>
    <variables>
        <name>UserProvisioningRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>UserProvisioningRequest</objectType>
    </variables>
</Flow>
