flows/Final_Provisioning_Process_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_deactivation_confirmation_email</name>
        <label>Send deactivation confirmation email</label>
        <locationX>596</locationX>
        <locationY>389</locationY>
        <actionName>UserProvisioningRequest.Access_deactivation_is_complete</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_that_access_modification_is_complete</name>
        <label>Send email that access modification is complete</label>
        <locationX>657</locationX>
        <locationY>74</locationY>
        <actionName>UserProvisioningRequest.Access_modification_is_complete</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_user</name>
        <label>Send email to user</label>
        <locationX>988</locationX>
        <locationY>209</locationY>
        <actionName>UserProvisioningRequest.New_Provisioned_Access</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Lookup_URP_Owner</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apexPluginCalls>
        <name>Create_User_Manually</name>
        <label>Provision User</label>
        <locationX>372</locationX>
        <locationY>207</locationY>
        <apexClass>GenericProvCreatePlugin</apexClass>
        <connector>
            <targetReference>Only_Send_email_for_non_system_apps</targetReference>
        </connector>
        <inputParameters>
            <name>ConnectedAppId</name>
            <value>
                <elementReference>UserProvisioningRequest.ConnectedAppId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>familyName</name>
            <value>
                <elementReference>User.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>profileId</name>
            <value>
                <stringValue>00e63000000DdwR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>username</name>
            <value>
                <elementReference>User.Username</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>debugLogging</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>givenName</name>
            <value>
                <elementReference>User.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Details</assignToReference>
            <name>Details</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalEmail</assignToReference>
            <name>ExternalEmail</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalFirstName</assignToReference>
            <name>ExternalFirstName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalLastName</assignToReference>
            <name>ExternalLastName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalUserId</assignToReference>
            <name>ExternalUserId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalUsername</assignToReference>
            <name>ExternalUsername</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>UserID</assignToReference>
            <name>User ID</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>NeedsManualProvisioning</assignToReference>
            <name>NeedManual</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Deactivate_account</name>
        <label>Deactivate account</label>
        <locationX>373</locationX>
        <locationY>350</locationY>
        <apexClass>GenericProvDeletePlugin</apexClass>
        <connector>
            <targetReference>Send_deactivation_confirmation_email</targetReference>
        </connector>
        <inputParameters>
            <name>ConnectedAppId</name>
            <value>
                <elementReference>UserProvisioningRequest.ConnectedAppId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>username</name>
            <value>
                <elementReference>User.Username</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>debugLogging</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Details</assignToReference>
            <name>Details</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalUserId</assignToReference>
            <name>ExternalUserId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalUsername</assignToReference>
            <name>ExternalUsername</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>NeedsManualProvisioning</assignToReference>
            <name>NeedManual</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Generic_Modify_Access_Plugin</name>
        <label>Generic Modify Access Plugin</label>
        <locationX>396</locationX>
        <locationY>59</locationY>
        <apexClass>GenericProvModifyPlugin</apexClass>
        <connector>
            <targetReference>Send_email_that_access_modification_is_complete</targetReference>
        </connector>
        <inputParameters>
            <name>ConnectedAppId</name>
            <value>
                <elementReference>UserProvisioningRequest.ConnectedAppId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>username</name>
            <value>
                <elementReference>User.Username</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>debugLogging</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Details</assignToReference>
            <name>Details</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalUserId</assignToReference>
            <name>ExternalUserId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalUsername</assignToReference>
            <name>ExternalUsername</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>NeedsManualProvisioning</assignToReference>
            <name>NeedManual</name>
        </outputParameters>
    </apexPluginCalls>
    <constants>
        <name>CaseRT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EMS Provisioning</stringValue>
        </value>
    </constants>
    <constants>
        <name>CustomerSupportQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EMSCustomer_Support</stringValue>
        </value>
    </constants>
    <constants>
        <name>ManualProvCaseSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Manual Provisioning is Needed for a user</stringValue>
        </value>
    </constants>
    <constants>
        <name>NewCaseStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </constants>
    <constants>
        <name>QueueType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>SobjectRTType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Only_Send_email_for_non_system_apps</name>
        <label>Only Send email for non-system apps</label>
        <locationX>588</locationX>
        <locationY>209</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>sendemail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>targetApp.Send_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_UPR_Owner_to_UPR_Target</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operation</name>
        <label>Operation</label>
        <locationX>122</locationX>
        <locationY>201</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_User_Manually</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generic_Modify_Access_Plugin</targetReference>
            </connector>
            <label>Update</label>
        </rules>
        <rules>
            <name>Collect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconcile</stringValue>
                </rightValue>
            </conditions>
            <label>Collect</label>
        </rules>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deactivate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_account</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <description>This is the second stage flow -- the automated piece.  It is called either from the first stage or the manual case closing.</description>
    <formulas>
        <name>fullName</name>
        <dataType>String</dataType>
        <expression>{!User.FirstName} + &apos; &apos; + {!User.LastName}</expression>
    </formulas>
    <formulas>
        <name>UserNameFormula</name>
        <dataType>String</dataType>
        <expression>{!User.FirstName} + {!User.LastName} + &apos;@testuserprov.org&apos;</expression>
    </formulas>
    <interviewLabel>Final Provisioning Process Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Final Provisioning Process Flow</label>
    <processType>UserProvisioningFlow</processType>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>19</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Operation</targetReference>
        </connector>
        <filters>
            <field>Connected_App_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserProvisioningRequest.ConnectedAppId</elementReference>
            </value>
        </filters>
        <object>Application__c</object>
        <outputReference>targetApp</outputReference>
        <queriedFields>Send_Email__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_URP_Owner</name>
        <label>Lookup URP Owner</label>
        <locationX>1147</locationX>
        <locationY>229</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_URP_Owner_again</targetReference>
        </connector>
        <filters>
            <field>Username</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>uprowner@landolakes.com.ems</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UPROwnerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_User</name>
        <label>Lookup User</label>
        <locationX>103</locationX>
        <locationY>29</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserProvisioningRequest.SalesforceUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>User</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Alias</queriedFields>
        <queriedFields>CommunityNickname</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Username</queriedFields>
        <queriedFields>External_Fed_Id__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_UPR_Owner_to_UPR_Target</name>
        <label>Update UPR Owner to UPR Target</label>
        <locationX>817</locationX>
        <locationY>215</locationY>
        <connector>
            <targetReference>Send_email_to_user</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UserProvisioningRequest.SalesforceUserId</elementReference>
            </value>
        </inputAssignments>
        <object>UserProvisioningRequest</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_URP_Owner_again</name>
        <label>Update URP Owner again</label>
        <locationX>1295</locationX>
        <locationY>233</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UPROwnerID</elementReference>
            </value>
        </inputAssignments>
        <object>UserProvisioningRequest</object>
    </recordUpdates>
    <startElementReference>Lookup_User</startElementReference>
    <variables>
        <name>CartApp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Cart_Application__c</objectType>
    </variables>
    <variables>
        <name>connectedAppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerSupportQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>CustomerSupportQueue</stringValue>
        </value>
    </variables>
    <variables>
        <name>Details</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalUsername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NeedsManualProvisioning</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>needToSendEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>nextReconOffset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>provCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProvisioningCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ProvisioningRTType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>queueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>reconOffset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reconState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>targetApp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>UPROwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserProvAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>UserProvAccount</objectType>
    </variables>
    <variables>
        <name>UserProvisioningRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>UserProvisioningRequest</objectType>
    </variables>
</Flow>
