flows/Generic_Provisioning_Flow-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Create_UPA_Account_first</name>
        <label>Create Stub UPA Account first</label>
        <locationX>482</locationX>
        <locationY>55</locationY>
        <apexClass>GenericStubCall</apexClass>
        <connector>
            <targetReference>Get_Cart_Details_for_Provisioning</targetReference>
        </connector>
        <inputParameters>
            <name>ConnectedAppId</name>
            <value>
                <elementReference>UserProvisioningRequest.ConnectedAppId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>familyName</name>
            <value>
                <elementReference>User.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>profileId</name>
            <value>
                <stringValue>00e63000000DdwR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>username</name>
            <value>
                <elementReference>User.Username</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>debugLogging</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>givenName</name>
            <value>
                <elementReference>User.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Details</assignToReference>
            <name>Details</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalEmail</assignToReference>
            <name>ExternalEmail</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalFirstName</assignToReference>
            <name>ExternalFirstName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalLastName</assignToReference>
            <name>ExternalLastName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalUserId</assignToReference>
            <name>ExternalUserId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalUsername</assignToReference>
            <name>ExternalUsername</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>UserID</assignToReference>
            <name>User ID</name>
        </outputParameters>
    </apexPluginCalls>
    <constants>
        <name>CaseRT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EMS Provisioning</stringValue>
        </value>
    </constants>
    <constants>
        <name>CustomerSupportQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EMSCustomer_Support</stringValue>
        </value>
    </constants>
    <constants>
        <name>ManualProvCaseSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Manual Provisioning is Needed for a user</stringValue>
        </value>
    </constants>
    <constants>
        <name>NewCaseStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </constants>
    <constants>
        <name>QueueType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>SobjectRTType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Manual_Provisioning_Needed</name>
        <label>Is Manual Provisioning Needed</label>
        <locationX>332</locationX>
        <locationY>54</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>targetApp.Connected_App__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_UPA_Account_first</targetReference>
            </connector>
            <label>true</label>
        </rules>
        <rules>
            <name>noManualSteps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>targetApp.Connected_App__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Automated_Provisioning</targetReference>
            </connector>
            <label>No Manual Steps</label>
        </rules>
    </decisions>
    <description>This has been modified for fine grained access with a wait state</description>
    <formulas>
        <name>fullName</name>
        <dataType>String</dataType>
        <expression>{!User.FirstName} + &apos; &apos; + {!User.LastName}</expression>
    </formulas>
    <formulas>
        <name>UserNameFormula</name>
        <dataType>String</dataType>
        <expression>{!User.FirstName} + {!User.LastName} + &apos;@testuserprov.org&apos;</expression>
    </formulas>
    <interviewLabel>Generic Provisioning Flow 3.0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generic Provisioning Flow 3.0</label>
    <processType>UserProvisioningFlow</processType>
    <recordCreates>
        <name>CreateProvisioningCase</name>
        <label>CreateProvisioningCase</label>
        <locationX>1208</locationX>
        <locationY>35</locationY>
        <assignRecordIdToReference>provCase</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Case_Object</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>queueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ProvisioningRTType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRequest__c</field>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Cart__c</field>
            <value>
                <elementReference>CartApp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_External_User__c</field>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ManualProvCaseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>175</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Manual_Provisioning_Needed</targetReference>
        </connector>
        <filters>
            <field>Connected_App_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserProvisioningRequest.ConnectedAppId</elementReference>
            </value>
        </filters>
        <object>Application__c</object>
        <outputReference>targetApp</outputReference>
        <queriedFields>Connected_App__c</queriedFields>
        <queriedFields>App_Code__c</queriedFields>
        <queriedFields>Connected_App_ID__c</queriedFields>
        <queriedFields>System_Application__c</queriedFields>
        <queriedFields>Send_Email__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Cart_Details_for_Provisioning</name>
        <label>Get Cart Details for Provisioning</label>
        <locationX>624</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Record_Type_for_case</targetReference>
        </connector>
        <filters>
            <field>UPR_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </filters>
        <object>Cart_Application__c</object>
        <outputAssignments>
            <assignToReference>CartApp.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Object</name>
        <label>Get Case Object</label>
        <locationX>1216</locationX>
        <locationY>145</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_UPR_to_show_manual_steps</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>provCase</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ProvisioningCase</outputReference>
        <queriedFields>ClosedDate</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>IsClosed</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>This step finds out the provisioning queue of the dis-connected (ie manually provisioned) application</description>
        <name>Get_Provisoining_Queue</name>
        <label>Get Provisoining Queue</label>
        <locationX>908</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCustomerSupportQueue</targetReference>
        </connector>
        <filters>
            <field>Connected_App_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserProvisioningRequest.ConnectedAppId</elementReference>
            </value>
        </filters>
        <object>Application__c</object>
        <outputAssignments>
            <assignToReference>CustomerSupportQueue</assignToReference>
            <field>Provisioning_Queue__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCustomerSupportQueue</name>
        <label>GetCustomerSupportQueue</label>
        <locationX>1054</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateProvisioningCase</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerSupportQueueName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueType</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Record_Type_for_case</name>
        <label>Lookup Record Type for case</label>
        <locationX>773</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Provisoining_Queue</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRT</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SobjectRTType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ProvisioningRTType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_User</name>
        <label>Lookup User</label>
        <locationX>24</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserProvisioningRequest.SalesforceUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>User</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Alias</queriedFields>
        <queriedFields>CommunityNickname</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Username</queriedFields>
        <queriedFields>External_Fed_Id__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_UPR_to_show_manual_steps</name>
        <label>Update UPR to show manual steps</label>
        <locationX>1232</locationX>
        <locationY>239</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Needed_ManualProv__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_Status__c</field>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prov_Case__c</field>
            <value>
                <elementReference>ProvisioningCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>UserProvisioningRequest</object>
    </recordUpdates>
    <startElementReference>Lookup_User</startElementReference>
    <subflows>
        <name>Complete_Automated_Provisioning</name>
        <label>Complete Automated Provisioning</label>
        <locationX>286</locationX>
        <locationY>322</locationY>
        <flowName>Final_Provisioning_Process_Flow</flowName>
        <inputAssignments>
            <name>UserProvisioningRequest</name>
            <value>
                <elementReference>UserProvisioningRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User</name>
            <value>
                <elementReference>User</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>connectedAppId</name>
            <value>
                <elementReference>connectedAppId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Details</assignToReference>
            <name>Details</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExternalEmail</assignToReference>
            <name>ExternalEmail</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExternalFirstName</assignToReference>
            <name>ExternalFirstName</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CartApp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Cart_Application__c</objectType>
    </variables>
    <variables>
        <name>connectedAppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerSupportQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>CustomerSupportQueue</stringValue>
        </value>
    </variables>
    <variables>
        <name>Details</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalUsername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NeedsManualProvisioning</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>needToSendEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>nextReconOffset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>provCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProvisioningCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ProvisioningRTType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>queueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>reconOffset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reconState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>targetApp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>UPROwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserProvAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>UserProvAccount</objectType>
    </variables>
    <variables>
        <name>UserProvisioningRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>UserProvisioningRequest</objectType>
    </variables>
</Flow>
